
<form class="form-email" data-request="{{__SELF__}}::onSend"  data-request-validate data-request-flash data-request-update="'{{__SELF__}}::thankyou': '#bookingform'">
    <input  name="name" placeholder="Prenotato a nome di" type="text">
	

    <input  name="phone" placeholder="Telefono" type="text">
    <div class="select-option col-md-6 p0">
        <i class="ti-angle-down"></i>
        <select name="guests">
            <option selected="" value="">Ospiti</option>
            <option value="1">{{ 'Uno'|_ }}</option>
            <option value="2">{{ 'Due'|_ }}</option>
            <option value="3">{{ 'Tre'|_ }}</option>
            <option value="4">{{ 'Quattro'|_ }}</option>
            <option value="5">{{ 'Cinque'|_ }}</option>
            <option value="6">{{ 'Sei'|_ }}</option>
            <option value="7">{{ 'Sette'|_ }}</option>
            <option value="8">{{ 'Otto'|_ }}</option>
            <option value="9">{{ 'Nove'|_ }}</option>
            <option value="10">{{ 'Dieci o più'|_ }}</option>
        </select>
    </div>
    <!--end select-->
    <div class="select-option col-md-6 p0">
        <i class="ti-angle-down"></i>
        <select class="validate-required field-error" name="time">
            <option selected="" value="">Time</option>
            <option value="730pm">7:30pm</option>
            <option value="8pm">8:00pm</option>
            <option value="830pm">8:30pm</option>
            <option value="9pm">9:00pm</option>
            <option value="930pm">9:30pm</option>
            <option value="10pm">10:00pm</option>
        </select>
    </div>
    <!--end select-->
    <input class="validate-required field-error datepicker" name="date" placeholder="Data (GG/MM/YYYY)" type="text">
    <button type="submit">Prenota</button>
</form>
	<p>Cliccando il tasto "invia" confermo di aver letto <a href="/privacy" target="_blank">l'informativa sulla privacy</a> e acconsento al trattamento dei dati personali.</p>
